body {
    margin: 0;
    background-color: rgb(56, 56, 56);
}

nav {
    background-color: rgb(177, 5, 5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    display: flex;

}

#icon {
    width: 85px;
}

.noticia {
    border: 3px solid rgb(247, 247, 247);
    color: white;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 10px;
}


.img_noticia {
    width: 400px;
    border-radius: 10px;

}

#noticias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 10px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.img_escalacao {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
}

#escalacao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;


}
#escalacao h2 {
    width: 100%;          
    text-align: center;   
    color: white;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.jogador {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;
    margin: 10px;
}

.jogador p {
    margin: 5px 0 0 0;  
    font-size: 14px;
}