body{
    margin: 0;
    background-color: rgb(66, 65, 65);
}
nav{
    background-color: rgb(177, 5, 5);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    display: flex;

}
#icon{
    width: 85px;
}

.noticia{
    border: 3px solid black;
   color: white;
    background-color: rgb(61, 60, 60);
    margin: 10px;
}


.img_noticia{ 
    width: 400px;
    border-radius: 10px;

}
#noticia{ 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 10px;
}

footer{
 padding: 20px;
text-align: center;
background-color: black;
color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}